<footer class="footer">
  <small>
    The Let's Web App</a>
    produced and manteinded by LET'S SpA
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>