<% provide :title, "Welcome" %>

<div class="center jumbotron">
  <h1>LET'S Welcomes you!</h1>

  <h2>
  	LET'S is the best tool to available to find events anywhere and buy on the go at the best prices
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>