<li>
  <%= link_to purchase.buyer.full_name, purchase.buyer %>
  <%= link_to purchase.offer.product.name, purchase.offer.product %>
  <p>$<%= purchase.price_paid %> | Status: <%= purchase.status %></p>

</li>