<li class="card">
  <%= link_to user.full_name, user %>
  <% if current_account.admin? && !current_user?(user) %>
    | <%= link_to "Delete", user.account, method: :delete,
                                  data: { confirm: "You sure?" } %>
  	<% unless user.account.admin? %>
	    | <%= link_to "Make Admin", admin_user_path(user), method: :post,
	                                  data: { confirm: "You sure?" } %>
    <% else %>
	    | <%= link_to "Remove Admin", admin_user_path(user), method: :delete,
	                                  data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>